body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#higher{
    transform:scale(1.1);
    border-color: red;
    box-shadow: 0, 0 10px blue;
    margin-top: 1000px;
}

#navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 100px;
    transition: all 0.05s;
}

#info{
    text-align: center;
}

#winner {
    text-align: center;
}

#imageContainer{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}


img{
    width: 200px;
    height: 200px;
    border-color: black;
    border-style: solid;
    padding: 30px;
}

figcaption{
    text-align: center;
}

footer{
    display: flex;
    flex-direction: column;
}